# Supabase Configuration
VITE_SUPABASE_URL=https://nxizolskkozzqdzatpym.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54aXpvbHNra296enFkemF0cHltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4MDU2MzQsImV4cCI6MjEwNDM4MTYzNH0.Mic4gk5emHlk845g15oqkyB76Vyx5IKPaNp18ArRFvg

# App Config
VITE_APP_NAME="Derivix"
VITE_APP_DOMAIN="derivix.com"
